<% if notice %>
  <p class="notice" ><%= notice %></p>
<% end %>

<div class=header>
  <div class="header-title header-cells">Programs</div>
  <div class="header-cells right"><%= link_refresh('program')%></div>
</div>

<table width="100%">
  <th>Name</th>
  <th>Code</th>
  <% @programs.each do |program| %>
    <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
      <td><%= program.name %></td>
    </tr>
  <% end %>
</table>
