<div id="report_select" class="field">
  <%= label_tag :report, 'Report:' %>
  <%= select_tag :report, options_for_select(@reports), class: 'btn btn-primary btn-sm', onchange: "javascript:set_form_target()" %>
</div>