<h1>Telstra Billing Reporter Log</h1>
<table width="100%">
<% @log.each do |fields| %>
  <tr class='<%= "#{cycle('list_line_odd', 'list_line_even')} #{fields[0]}" %>'>  
    <td width="20%"><%= "#{fields[1]}" %></td>
    <td width="15%"><%= "#{fields[2]}" %></td>
    <td width="65%"><%= "#{fields[3]}" %></td>
  </tr>
<% end %>
</table>  

<script>
	window.onload=setTimeout("location.reload(true);",5000);
</script>

