<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hi <%= @to.first_name%>,</p>
		<p>Purchase order reminders have been sent as follows:<br>
      <% @orders.each do |line| %>
        <br><%= line %>
      <% end %>
    </p>
		<p>Thanks, <br><br>The POPS Purchase Order Processing System</p>
  </body>
</html>