<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hi <%= @to.first_name%>,</p>
		<p>Order reminders have been sent as follows:<br>
      <ul>
        <% @orders.each do |line| %>
          <li><%= line %></li>
        <% end %>
      </ul>
    </p>
		<p>Thanks, <br><br>The POPS Purchase Order Processing System</p>
  </body>
</html>