<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hi <%= @to.first_name%>,</p>
		<p><%= link_to("Purchase Order #{@order.id}", url_for(host: @host, controller: 'orders', action: 'show', id: @order.id)) %>, created by you on <%= @order.created_at.strftime('%d/%m/%Y') %>, is still outstanding.  Could you please follow it up?  		
    </p>
		<p>Thanks, <br><br>The POPS Purchase Order Processing System</p>
  </body>
</html>