<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hi <%= @to.first_name%>,</p>
		<p><%= link_to("Purchase Order #{@order.id}",url_for(only_path: false, controller: 'orders', action: 'show', id: @order.id)) %> has been returned to you for changes.  
			Please reapprove after correcting the issues in the notes below:
		 </p>
		 <p><%= @body %></p>
		<p>Thanks, <%= @from.first_name %></p>
  </body>
</html>