<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hi <%= @to.first_name%>,</p>
		<p>Could you please approve <%= link_to("Purchase Order #{@order.id}",url_for(:host => 'localhost:3000', :controller => 'orders', :action => 'show', :id => @order.id)) %>? 
		</p>
		<p><%= @body %></p>
		<p>Thanks, <%= @from.first_name %></p>
  </body>
</html>