// Colours
$main-color:        #666633;
$main-color-dark:   #3D3D1F;
$main-color-mdark:  #525229;
$main-color-medium: #B2B299;
$main-color-light:  #D1D1C2;
$main-color-bg:     #F0F0EB;

$error-color:       #993333;
$error-color-bg:    #FEFCFC;
$warn-color:        #FF9900;
$notice-color:      #009933;

// Other stuff
$footer-height:     30px;
$footer-height-neg: -30px;