@import "variables";

code {
  font-size:        80%;
}

body { 
  background-color: white; 
  color:            $main-color; 
}

body, p, ol, ul, td, li {
  font-family:      verdana, arial, helvetica, sans-serif;
  font-size:        13px;
  line-height:      18px;
}

a { 
  color:            $main-color; 
}

a:hover { 
  color:            green; 
  background-color: transparent;
}

div.field, div.actions {
  margin-bottom:    5px;
}

fieldset {
  background:       $main-color-bg;
  border:           1px solid $main-color;
  margin-top:       10px;
  padding-bottom:   10px;
}

legend {
  width:            inherit;
  color:            $main-color-bg;
  background:       $main-color;
  font-family:      sans-serif;
  font-size:        medium;
  padding:          0.2em 1em;
  margin-left:      1em;
}

label {
  width:            30%;
  float:            left;
  font-weight:      normal;
  text-align:       right;
  vertical-align:   top;
  padding-top:      0.2em;
  margin-right:     0.1em;
  display:          block;
}

select, textarea, input {
  margin-left:      0.5em;
  padding-left:     0.5em;
  color:            $main-color;
}

textarea {
  width:            30em;
}

h1 {
  font:             150% sans-serif;
  color:            $main-color;
  border-bottom:    2px dotted $main-color;
}

table {
  border-collapse:  collapse;
}

td {
  padding:          0.5em;
  width:            auto;
}

th {
  padding:          0.5em;
  background:       $main-color-medium;
}

#error_explanation {
  width:            450px;
  border:           1px solid $error-color;
  padding:          7px;
  padding-bottom:   0;
  margin-bottom:    20px;
  margin-left:      15px;
  background-color: $error-color-bg;
  color:            $error-color;
}

#error_explanation h2 {
  text-align:       left;
  font-weight:      bold;
  padding:          5px 5px 5px 15px;
  font-size:        small;
  margin:           -7px;
  margin-bottom:    0px;
  background-color: $error-color;
  color:            white;
}

.right {
  float:            right;
}

.wider {
  width:            30em;
}

.notice {
  color:            $notice-color;
  margin:           0.5em;
  padding:          0;
}

.error {
  color:            $error-color;
  margin:           0.1em;
  padding:          0;
}

.alert {
  color:            $error-color;
  margin:           0.1em;
  padding:          0;
}

.info {
  color:            $notice-color;
}

.warn {
  color:            $warn-color;
}

.fatal {
  color:            $error-color;
}

.link_hilight {
  color:            $error-color;
  font-weight:      bold;
}

.list_line_even {
	background:       $main-color-bg;
  height:           2em;
}

.list_line_odd {
	background:       $main-color-light;
  height:           2em;
}

.list_actions {
	font-size:        x-small;
	text-align:       right;
	padding-left:     1em;
}

.tiny {
  font-size:        xx-small;
  color:            $main-color;
}

.link_exo {
  font-weight:      bold;
}

.actions {
  margin-top:       1em;
  margin-left:      0.5em;
}

.header {
  width:            100%;
  margin-bottom:    0.5em;
  padding-bottom:   0.5em;
  border-bottom:    2px solid $main-color;
  overflow:         hidden; 
  vertical-align:   bottom;
  display:          table;
}

.header-title {
  font:             150% sans-serif;
  color:            $main-color;
}

.header-cells {
  display:          table-cell; 
  vertical-align:   bottom; 
}

.po-header {
  font-size:        large;
  color:            $error-color;
  margin-bottom:    1.0em;
}

.po-label {
  padding-top:      0em;
}

.text {
  padding-top:      0.2em;
  padding-left:     0.5em;
}

.btn-select {
  line-height:      2em;
  width:            30em;
}

.delivery {
  width:            25%;
}

.atby {
  float:            right;
  align:            right;
  font-size:        xx-small;
  padding:          0px;
  margin:           0px;
  margin-right:     2.0em;
}

.itemlist {
  margin-top:       0.5em;
  width:            100%;
  display:          block;
}

.itemlist th {
  margin-bottom:    0;
  padding-bottom:   0;
}

.subtotals {
  margin-top:       0.5em;
  padding-top:      0;
  padding-bottom:   0;
  text-align:       right;
  background:       $main-color-bg;
  border-top:       2px solid $main-color;
}

.gst {
  padding-top:      0;
  padding-bottom:   0;
  text-align:       right;
  background:       $main-color-bg;
}

.totals {
  font-weight:      bold;
  text-align:       right;
  background:       $main-color-light;
}

#orders {
  border-bottom:    2px solid $main-color;
}

#action_dropdown {
  display:          none;
}

.roles {
  height:           2em;
}

.search {
  height:           1.5em;
  width:            5em;
  padding:          0.2em;
  margin:           1em;
  background:       $main-color-bg;
}

.search_fields {
  margin-left:      0;
  margin-right:     0;
  background:       $main-color-bg;
}

.search_row {
  background:       $main-color-medium;
}

.dropdown-menu {
  min-width:        0px;
}

.dropdown-menu li a {
  background:       white;
  color:            $main-color;
  border:           none;
  text-align:       left;
}

.filter-button {
  margin-left:      0.5em;
  padding:          0em;
  background:       $main-color-light;
  border-radius:    4px;
  border:           1px solid $main-color-medium;
  overflow:         auto;
  display:          inline-block;
  vertical-align:   bottom;
}

.filter-button label {
  margin:           0em;
  padding:          0em;
  float:            left;
  width:            4em;
}

.filter-button label span {
  margin:           0em;
  padding:          0em;
  text-align:       center;
  display:          block;
}

.filter-button label input {
  position:         absolute;
  opacity:          0;
}

.filter-button input:checked + span {
  background-color: $main-color;
  color:            $main-color-bg;
}

.ck-button {
  margin-left:      0.5em;
  padding:          0em;
  line-height:      2em;
  background:       $main-color-light;
  border-radius:    4px;
  border:           1px solid $main-color-medium;
  overflow:         auto;
  display:          inline-block;
  vertical-align:   bottom;
}

.ck-button label {
  margin:           0em;
  padding:          0em;
  float:            left;
  width:            8em;
}

.ck-button label span {
  margin:           0em;
  padding:          0em;
  text-align:       center;
  display:          block;
}

.ck-button label input {
  position:         absolute;
  opacity:          0;
}

.ck-button input:checked + span {
  background-color: $main-color;
  color:            $main-color-bg;
}

.digg_pagination {
  background:       white;
  cursor:           default;
  margin-bottom:    0.5em;
  /* self-clearing method: */
}

.digg_pagination a, .digg_pagination span, .digg_pagination em {
  padding:          0.2em 0.5em;
  display:          block;
  float:            left;
  margin-right:     1px; 
}

.digg_pagination .disabled {
  color:            $main-color-medium;
  border:           1px solid $main-color-medium; 
}

.digg_pagination .current {
  font-style:       normal;
  font-weight:      bold;
  background:       $main-color-dark;
  color:            $main-color-bg;
  border:           1px solid $main-color-mdark; 
}

.digg_pagination a {
  text-decoration:  none;
  color:            $main-color-mdark;
  border:           1px solid $main-color-mdark; 
}

.digg_pagination a:hover, .digg_pagination a:focus {
  color:            $main-color-dark;
  border-color:     $main-color-dark;
  background:       $main-color-medium; 
}

.digg_pagination .page_info {
  background:       $main-color-medium;
  color:            $main-color-mdark;
  padding:          0.4em 0.6em;
  width:            22em;
  margin-bottom:    0.3em;
  margin-top:       0.5em;
  text-align:       center; 
}

.digg_pagination .page_info b {
  color:            $main-color-dark;
  background:       $main-color-light;
  padding:          0.1em 0.25em; 
}

.digg_pagination:after {
  content:          ".";
  display:          block;
  height:           0;
  clear:            both;
  visibility:       hidden; 
}

* html .digg_pagination {
  height:           1%; 
}

*:first-child + html .digg_pagination {
  overflow:         hidden; 
}

.btn-file {
  position:         relative;
  overflow:         hidden;
}

.btn-file input[type=file] {
  position:         absolute;
  top:              0;
  right:            0;
  min-width:        100%;
  min-height:       100%;
  font-size:        100px;
  text-align:       right;
  filter:           alpha(opacity=0);
  opacity:          0;
  outline:          none;
  background:       white;
  cursor:           inherit;
  display:          block;
}

.selectize-control { 
  margin:           0;
  padding:          0;
}

.btn .selectize-dropdown, .selectize-input {
  padding:          0;
  margin-left:      0.5em;
  width:            30em;
  text-align:       left;
  color:            $main-color;
}

.selectize-input {
  padding-left:     0.5em;
}

.selectize-dropdown .active {
  background:       $main-color-bg;
}
