@import "variables";

code {
  font-size: 80%;
}

body { 
  background-color: white; color: $main-color; 
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

a { color: $main-color; }
//a:visited { color:$main-color; }
a:hover { color: green; background-color:transparent; }

div.field, div.actions {
  margin-bottom: 10px;
}

fieldset {
  background: $main-color-bg;
  border: 1px solid $main-color;
  margin-top: 10px;
}

legend {
  width: inherit;
  color: $main-color-bg;
  background: $main-color;
  font-family: sans-serif;
  font-size: medium;
  padding: 0.2em 1em;
  margin-left: 1em;
}

label {
  width: 30%;
  float: left;
  font-weight: normal;
  text-align: right;
  padding-top: 0.2em;
  margin-right: 0.1em;
  display: block;
}

select, textarea, input {
  margin-left: 0.5em;
  color: $main-color;
}

h1 {
  font:  150% sans-serif;
  color: $main-color;
  border-bottom: 2px dotted $main-color;
}

table {
  border-collapse: collapse;
}

td {
  padding: 0.5em;
}

th {
  padding: 0.5em;
  background: $main-color-medium;
}

#error_explanation {
  width: 450px;
  border: 1px solid $error-color;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  margin-left: 15px;
  background-color: $error-color-bg;
  color: $error-color;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: small;
  margin: -7px;
  margin-bottom: 0px;
  background-color: $error-color;
  color: white;
}

.notice {
  color: $notice-color;
}

.error {
  color: $error-color;
}

.list_line_even {
	background: $main-color-bg;
  height: 2em;
}

.list_line_odd {
	background: $main-color-light;
  height: 2em;
}

.list_actions {
	font-size:    x-small;
	text-align:   right;
	padding-left: 1em;
}

.tiny {
  font-size: xx-small;
  color: $main-color;
}

td.win, td.draw, td.loss, td.bye, td.pending {
  border: 2px solid $main-color-bg;
}

.actions {
  margin-top: 2em;
  margin-left: 0.5em;
}

.header {
  padding:        5px 0px;
  font:           150% sans-serif;
  color:          $main-color;
  border-bottom:  2px solid $main-color;
  margin-bottom:  5px;
}

.po-header {
  font-size: large;
  color: $error-color;
  margin-bottom: 1.0em;
}

.text {
  padding-top: 0.2em;
  padding-left: 0.5em;
}

.atby {
  float: right;
  align: right;
  font-size: xx-small;
  padding: 0px;
  margin: 0px;
  margin-right: 2.0em;
}

.itemlist {
  margin-top: 0.5em;
  width: 100%;
  display: block;
}

.subtotals {
  margin-top: 0.5em;
  padding-top: 0;
  padding-bottom: 0;
  text-align: right;
  background: $main-color-bg;
}

.gst {
  padding-top: 0;
  padding-bottom: 0;
  text-align: right;
  background: $main-color-bg;
}

.totals {
  font-weight: bold;
  text-align: right;
  background: $main-color-light;
}

.ck-button {
  height:           2.0em;
  margin-left:      0.5em;
  background-color: $main-color-light;
  border-radius:    4px;
  border:           1px solid $main-color-dark;
  overflow:         auto;
  float:            left;
}

.ck-button label {
  margin: 0, 0.2em;
  float: left;
  width: 10em;
}

.ck-button label span {
  margin: 0px;
  padding: 0px;
  text-align: center;
  display: block;
}

.ck-button label input {
  position: absolute;
  opacity: 0;
}

.ck-button input:checked + span {
  background-color: $main-color;
  color: $main-color-bg;
}